
// in order to use the sass variables in App.scss, I had to use @import "";
@import "../../App.scss";

#menu {

    position : fixed;
    top      : 0;
    left     : 0;
    z-index  : 100;
    width    : 30vw;
    height   : 100vh;

    background-color : $color-primary;

    cursor     : pointer;
    transition : all .3s ease-out;

    &.hide {
        transform : translate3d( -30vw, 0, 0 );
    }

    &.show {
        transform : translate3d( 0vw, 0, 0 );
    }
    
    .header-nav{

        display               : grid;
        grid-template-rows    : repeat( 4, auto );
        grid-template-columns : 25rem;
        justify-content       : center; 
        grid-gap              : 2rem;
        padding               : 2rem 0 0 0;

        list-style : none;


        // From the web: "The :link CSS pseudo-class represents an element that has not yet
        // been visited."

        &--link:link,
        &--link:visited {

            display               : grid;
            grid-template-rows    : auto;
            grid-template-columns : 4rem 5rem;
            align-items           : center;
            justify-items         : start;
            grid-column-gap       : 1.0rem;
            padding               : 1.5rem 0 1.5rem 0;

            // keep the size for border-bottom at 0.1px and not 0.1rem otherwise the border will
            // tend to disappear as the viewport shrinks

            border-bottom : 1px inset rgba( 0, 0, 0, .1 );

            font-family     : $font-display-2; 
            font-size       : 2.0rem;
            color           : rgba( 255, 255, 255, 1 );
            text-align      : center;
            text-decoration : none;
            text-transform  : uppercase;

            transition : all 0.2s ease-out;
        }

        &--link:hover,
        &--link:active {
            background-color : rgba( 255, 255, 255, 0.05 );

            // move the background color up just a little to add a nice hoover effect
            transform: translate3d( 0, -0.3rem, 0); 
        }

    }

}




// responsive change #22

@media only screen and ( max-width : $bp-large ) {

    #menu {

        width    : 40vw;
    
        transition : all .2s ease-out;
   
        &.hide {

            transform : translate3d( -40vw, 0, 0 );

        }

        .header-nav{

            &--link:link,
            &--link:visited {
    
                border-bottom : 1px inset rgba( 0, 0, 0, .15 );

            }

        }

    }

}



@media only screen and ( max-width : $bp-medium ) {

    #menu {

        width    : 50vw;
    
        transition : all .2s ease-out;
   
        &.hide {

            transform : translate3d( -50vw, 0, 0 );

        }

    }

}



@media only screen and ( max-width : $bp-small ) {

    #menu {

        width    : 70vw;
    
        transition : all .2s ease-out;
   
        &.hide {

            transform : translate3d( -70vw, 0, 0 );

        }

    }

}